{% extends 'base.html' %}

{% block title %}
<h1>Home - eMetalworking</h1>

{% endblock %}

{% block content %}
    <div class="container
                  sb-container-fixed
                  sb-container">
        <!--htmlhint spec-char-escape:false -->
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
               
          <h2>Order details came from the customer: <button type="submit">Send Confirmation Email</button>
          </h2>
  
        <h3>Producer Categories</h3>
          {% for value, label in order.PRODUCER_CATEGORIES %}
              <label>
                  <input type="radio" name="producer_category" value="{{ value }}" {% if order.producer_category == value %}checked{% endif %}>
                  {{ label }}
              </label><br>
          {% endfor %}
  
        <h3>Budget Range</h3>
          {% for value, label in order.BUDGET_RANGES %}
              <label>
                  <input type="radio" name="budget_range" value="{{ value }}" {% if order.budget_range == value %}checked{% endif %}>
                  {{ label }}
              </label><br>
          {% endfor %}
  
        <h3>Payment Methods</h3>
          {% for value, label in order.PAYMENT_METHODS %}
              <label>
                  <input type="radio" name="payment_method" value="{{ value }}" {% if order.payment_method == value %}checked{% endif %}>
                  {{ label }}
              </label><br>
          {% endfor %}

          <h3>Source of Materials for Work</h3>
          {% for value, label in order.MATERIAL_SOURCES %}
              <label>
                  <input type="radio" name="material_source" value="{{ value }}"{% if order.material_source == value %} checked{% endif %}>
                  {{ label }}
              </label><br>
          {% endfor %}
      
          <h3>Quantity</h3>
          {{ order.quantity }}
      
          <h3>Email</h3>
          {{ order.customer_email }}
      
          <h3>Delivery Options</h3>
          {% for value, label in order.DELIVERY_OPTIONS %}
              <label>
                  <input type="radio" name="delivery_option" value="{{ value }}"{% if form.delivery_option.value == value %} checked{% endif %}>
                  {{ label }}
              </label><br>
          {% endfor %}
      
          <h3>Delivery Deadlines</h3>
          {{ order.delivery_deadline }}
      
          <h3>Agreement Conditions</h3>
          <label>{{ form.agree_to_penalties }} I agree to the penalties stipulated for delivery delays.</label><br>
          <label>{{ order.agree_to_bonuses }} I agree to receive bonuses for early delivery.</label><br>
          <label>{{ order.agree_to_arbitrator }} I agree to the appointment of an arbitrator for disputes.</label><br>
      
          {% if order.file_attachments %}
          <h3>File Attachment</h3>
          <p>{{ order.file_attachments }}
          <strong>Uploaded File:</strong> <a href="{{ order.file_attachments.url }}" download>Download</a>
          <strong>View File:</strong> <a href="{{ order.file_attachments.url }}" target="_blank">View</a>
          <label><strong>Count:</strong></label> {{ order.file_count }}
          <label><strong>Price ($):</strong></label>
          <input type="number" name="file_price" value="{{ order.file_price }}" class="input-field" step="0.01">  <!-- Ensure step matches the decimal places -->     
        </p>
          {% else %}
          <p>No file uploaded.</p>
          {% endif %}
     
          <h3>Additional Information</h3>
          {{ order.additional_information }}
      
          <h3>Shipping Address</h3>
          <label>Address: </label>{{ order.shipping_address }}<br>
          <label>City: </label>{{ order.city }}<br>
          <label>State: </label>{{ order.state }}<br>
        </form>
    </div>
{% endblock %}
